{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "tabWidth": 4,
  "semi": true,
  "printWidth": 100,
  "trailingComma": "all",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
