@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

// Определяем CSS-переменные для легкой настройки цветовой палитры и шрифта
:root {
  --font-family: 'Rubik', sans-serif;
  --mint: #2aa28c; // пастельный мятный зеленый
  --coffee: #ceb1a5; // пастельный кофейный оттенок
  --coffee-dark: #6d4c41; // более темный кофейный для акцентов
  --bg-color: #efeee8; // светлый фон для всей страницы
}

// Сброс отступов и установка box-sizing для всех элементов
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family), serif;
  background-color: var(--bg-color);
  color: var(--coffee-dark);
  line-height: 1.6;
  font-size: 16px;
  padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--coffee-dark);
  margin-bottom: 1rem;
  font-weight: 600;
}

p {
  margin-bottom: 1rem;
}


a {
  color: var(--mint);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--coffee-dark);
}


button {
  font-family: var(--font-family), serif;
  background-color: var(--mint);
  border: none;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--coffee-dark);
}

input, select, textarea {
  font-family: var(--font-family), serif;
  padding: 0.5rem;
  border: 1px solid var(--coffee);
  border-radius: 0.25rem;
  width: 100%;
  margin-bottom: 1rem;
}

select:focus, input:focus, textarea:focus {
  outline: var(--mint) solid 2px;
  border-color: var(--mint);
}

select {
  appearance: none;

  option {
    color: var(--coffee-dark);
    background-color: var(--bg-color);
    border-radius: 0.25rem;

    :hover {
      background-color: var(--mint);
      color: #fff;
      cursor: pointer;
      border-radius: 0.25rem;
    }
  }
}

form {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid var(--coffee);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

th, td {
  border: 1px solid var(--coffee);
  padding: 0.5rem;
  text-align: left;
}

th {
  background-color: var(--mint);
  color: #fff;
}
